
$theme-color :(
	"primary":#F42272,
	"secondary": #F397D6,
	"white":#FCFCFC,
	"lgray":#BFADA3,
	"darkgray":#31393C
	);

$border-radius: 0px;
$navbar-padding-y: 0px;
$navbar-brand-padding-y: 0px;
$navbar-toggler-padding:3px;
@import '../../node_modules/bootstrap/scss/bootstrap';

$white: #E4DFDA;
$head: #111111;
$body: #999999;
$link: #333333;
$hover: #555555;

body{
	padding:0;
	margin:0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color:  #f7f7f7	;
}

img.clickicon{
	width: 900px;
}
img.clickicon1{
	width: 200px;
}
.container{
	margin-top:0px;
}
.card-header{
	background-color: #3b5998;
}
.card-footer{
	 background-color: #3b5998; 
}
.card-text{
	font-size: 18px;
}
footer{
	background-color:black;
	text-align: center;
	padding:20px;
	color: white;
	margin-top: auto;
}
/* media queries */
  @mixin phone{
  	@media only screen and (max-width:480px){
  		@content;
  	}
  }


@mixin ipad{
  	@media only screen and (max-width:768px){
  		@content;
  	}
  }

 @mixin ipadpro{
  	@media only screen and (max-width:1024px){
  		@content;
  	}
  }



  @include phone{
  	.col-header{
	margin-top:0px;
}
img.clickicon{
	width:100%;
}
img.clickicon1{
	width: 200px;
}
.card-text{
		font-size: 16px;
	}

  }


   @include ipad{

	img.clickicon{
	width:100%;
	}
	img.clickicon1{
	width: 200px;
	}
	.container{
	margin-top:0px;
	}
	
  }



